<style type="text/css">
    table {
	width: 750px;
	border-collapse: collapse;
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
	}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
	}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table {
	  	width: 100%;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
h3 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
</style>
<div id="iternary_table">
<table>
  <thead>
  {% if result['iternaries'] %}
    <tr>
      <th>Day</th>
      <th>Title</th>
      <th>Route</th>
      <th>Description</th>
        <th>Duration</th>
        <th>Cost</th>
    </tr>
  </thead>
  <tbody>
  {% for row in result['iternaries'] %}
    <tr>
      <td data-column="Day">{{row.2}}</td>
      <td data-column="Title">{{row.1}}</td>
      <td data-column="Route">{{row.3}} - {{row.4}}</td>
      <td data-column="Description">{{row.5}}</td>
         <td data-column="Duration">{{row.6}}</td>
         <td data-column="Cost">{{row.7}}</td>
    </tr>
   {% endfor %}
  {% else %}
  <h3>No iternaries present!</h3>
  {% endif %}
  </tbody>
</table>


